<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: relative_url }}">
    {% include head-custom.html %}

    {% assign ga = site.data.site_meta.google_analytics %}
    {% if ga and ga.enabled and ga.id != "" %}
    <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga.id }}"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', '{{ ga.id }}');
      </script>
    {% endif %}
  </head>

  <body>
    <header class="user-select-none">
      {% include nav.html %}
    </header>

    <section class="main">
      {% if page.permalink and page.permalink != '' %}

      {% unless page.permalink contains '/' %}
        {% include {{ page.permalink }}_toc.html %}
      {% endunless %}

      {% endif %}

      <main>
        <article>
          {{ content }}
        </article>
      </main>
    </section>

    <footer class="user-select-none">
      {% include footer.html %}
    </footer>
  </body>

</html>
